<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Automatic Ventures</h1>
    <p>STILL IS</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.youtube.com/watch?v=uGgK3_S22Kc"></span>Activate</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://p.datadoghq.com/sb/0772e434-aeb3-11eb-a29e-da7ad0900002-694fde40e2292eae778e25650b550fa2"></span>Logs Dashboard</a>
  </div>
</div>
</body>
</html>
